@model Usuario
@{
    Layout = "~/Views/Shared/_LayoutAlojat.cshtml";
}

<div class="card border-dark mb-3">
    <div class="card-header text-white bg-dark">
        <h3>Editar de Usuario</h3>
    </div>
    <div class="card-body">
        <form asp-controller="Usuario" asp-action="Editar" method="post">
            <div class="row g-2">
                <div class="col-sm-6 col-md-6">
                    <input hidden asp-for="UsuarioID" />
                    <div class="mb-3">
                        <label class="form-label">Nombres</label>
                        <input type="text" class="form-control" asp-for="Nombres" placeholder="Ingrese sus nombres">
                        <span asp-validation-for="Nombres" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Apellidos</label>
                        <input type="text" class="form-control" asp-for="Apellidos" placeholder="Ingrese sus apellidos">
                        <span asp-validation-for="Apellidos" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Fecha de Nacimiento</label>
                        <input class="form-control" asp-for="FechaNacimiento">
                        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Número de Celular</label>
                        <input type="tel" class="form-control" asp-for="NumCelular" placeholder="Ingrese su número de celular">
                        <span asp-validation-for="NumCelular" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Dirección de Domicilio</label>
                        <input type="text" class="form-control" asp-for="DireccionDomicilio" placeholder="Ingrese su dirección">
                        <span asp-validation-for="DireccionDomicilio" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Correo</label>
                        <input type="email" class="form-control" asp-for="Email" placeholder="Ingrese su correo electrónico">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Rol</label>
                        <select asp-for="RolID" asp-items="@ViewBag.roles" class="form-control">
                            <option disabled selected>--Seleccionar Rol--</option>
                        </select>
                        <span asp-validation-for="RolID" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4 col-sm-12 mt-3">
                    <a class="btn btn-success"
                       data-toggle="modal"
                        data-target="#modalContr">
                        Actualizar Contraseña
                    </a>
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    <button type="submit" class="btn btn-dark">Actualizar Usuario</button>
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    <button asp-action="Index" class="btn btn-primary">Cancelar</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalContr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card-body">
                        <form asp-controller="Usuario" asp-action="UpdateCont" method="post">
                            <input hidden asp-for="UsuarioID" />
                            <div class="mb-3">
                                <label class="form-label">Contraseña</label>
                                <input type="password" class="form-control" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <br />
                            <button class="btn btn-primary" type="button" data-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-success">Actualizar Contraseña</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

