@model Usuario
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <style>
                        .bg-login-image {
                            background: url(https://e.rpp-noticias.io/xlarge/2022/02/20/084208_1220264.jpg) !important;
                            background-position: center !important;
                            background-size: cover !important;
                        }
                    </style>
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">AlojaT!</h1>
                            </div>
                            <form class="user" asp-controller="Login" asp-action="Login" method="post">
                                <div class="form-group">
                                    <input type="email"
                                           class="form-control form-control-user"
                                           id="exampleInputEmail"
                                           aria-describedby="emailHelp"
                                           placeholder="Enter Email Address..."
                                           asp-for="Email">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input required
                                           type="password"
                                           asp-for="Password"
                                           class="form-control form-control-user"
                                           id="exampleInputPassword"
                                           placeholder="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">Iniciar Sesión</button>
                                <hr>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a  <a asp-controller="Login" asp-action="Registro">¿No tienes una cuenta? Regístrate</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>